
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-selection { background: Highlight; color: var(--main-color); }
::-moz-selection { background: Highlight; color: var(--main-color); }
::selection { background: Highlight; color: var(--main-color); }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: var(--main-color); outline: 1px solid $black; }
::-webkit-scrollbar-corner { background: var(--main-color); }
::-webkit-resizer { background: $black; }

html { font-size: $mainFontSize; }
body { background: var(--background-color); color: var(--main-color); font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: var(--main-color) $black;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1, .h1 { font: normal 3.4375rem/1.25 'Dela Gothic One'; text-transform: uppercase; }
h2, .h2 { font: normal 1.875rem/1.1 'Dela Gothic One'; text-transform: uppercase; }
h3, .h3 { font: normal 2.1875rem/1.2 'Dela Gothic One'; }
h4, .h4 { font: normal 1.25rem/1.25 'Dela Gothic One'; }
h5, .h5 { font: normal 1.125rem/1.6 'Dela Gothic One'; text-transform: uppercase; }
// h6 { font: normal 1rem/1.25 'Dela Gothic One'; }

p { font: normal .75rem/1.2 'Tenor Sans'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: all .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 1.5rem 1.25rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $mobileWidth_lg) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 1.5rem; grid-gap: 2rem; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) {}
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
  // @media screen and (min-width: $desktopWidth_lg) { width: $desktopWidth_lg; }
}

@media screen and (min-width: $tabletWidth) {
  h1, .h1 { font-size: 4.75rem; }
  h2, .h2 { font-size: 3rem; }
  h3, .h3 { font-size: 3.5rem; }
  h4, .h4 { font-size: 1.5rem; }

  p { font-size: .875rem; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth) {
  h1, .h1 { font-size: 6.25rem; }
}


/* Form styles */
// form {
//   fieldset { display: flex; }

//   label { color: $darkGrey; font: normal 1rem/1 'Tenor Sans'; }
//   textarea,
//   input { width: 100%; background: transparent; color: var(--main-color); font: normal 1rem/1 'Tenor Sans';
//     &::placeholder { color: $darkGrey; }
//     &:focus { border-color: $successColor; }
//     &.error { border-color: $errorColor; }
//   }
//   textarea { min-height: 6rem; border: 1px solid $darkGrey; padding: .5rem 1rem; resize: none; }
//   input { height: 3rem; border-bottom: 1px solid $darkGrey; padding: 0 1rem; }

//   @media screen and (min-width: $tabletWidth) {}
// }

.switcher { display: flex; flex-direction: row-reverse; cursor: pointer;
  label { color: var(--main-color); font-family: 'Dela Gothic One'; text-transform: lowercase; line-height: 1; white-space: nowrap; cursor: pointer; }
  span { position: relative; width: 37px; height: 18px; border: 2px solid var(--accent-color); border-radius: 11px; margin-right: .5rem; background: var(--accent-color);
    &::before { @include pseudo; left: var(--switcher-left); top: 0; width: 14px; height: 14px; border-radius: 50%; background: $white; transition: all .3s ease-out; }
  }

  @media screen and (min-width: $tabletWidth) { flex-direction: row; align-items: center;
    label { font-size: .875rem; line-height: 1.42; }
    span { width: 43px; height: 22px; margin: 0 0 0 .625rem;
      &::before { left: var(--switcher-left-tablet); width: 18px; height: 18px; }
    }
  }
}

.button {
  a { width: 100%; height: 3.125rem; border-radius: 25px; padding: 0 1.25rem; background: $lightGrey; color: $white; backdrop-filter: blur(16px); font: normal 1rem/1 'Dela Gothic One'; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }
  }

  &_min a { height: 2.125rem; border-radius: 10px; text-transform: lowercase; }
  &_max a { height: 4.25rem; border-radius: 34px; }

  @media screen and (min-width: $tabletWidth) {
    a { width: auto;
      &:hover { background: $white; color: $black; }
    }

    &_min a:hover { color: $linkColor_hover; }
    &_max a { width: 100%;
      &:hover { color: $linkColor_hover; }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &_max a { height: 5.125rem; border-radius: 41px; font-size: 1.75rem; }
  }
}


/* Layout styles */
header { height: 0; @include z('header');
  .container { height: 7.5rem; padding: 1.375rem 1.25rem;
    .header { grid-column: 1 / 7; display: flex; justify-content: space-between; align-items: flex-end;
      &__column { display: flex; flex-direction: column-reverse; justify-content: flex-end;
        &:last-child { align-items: flex-end; }
      }

      &-language { margin: 1.25rem 0 -.125rem; display: flex;
        a { border-bottom: 2px solid transparent; color: $darkGrey; font-family: 'Dela Gothic One'; text-transform: lowercase;
          &:not(:last-child) { margin-right: 1rem; }
          &.current { border-bottom-color: var(--main-color); color: var(--main-color); }
        }
      }
      &-theme-switcher { margin-bottom: .125rem; display: flex; }
      &-menu { margin-top: .6875rem; display: flex;
        ul { display: flex; align-items: center;
          li {
            &:not(:last-child) { display: none; }

            a { color: var(--main-color); font-family: 'Dela Gothic One'; text-transform: lowercase; white-space: nowrap; display: flex; align-items: center;
              img { width: 12px; height: 8px; margin-left: .5rem; flex: none; }
            }
          }
        }
      }
      &-menu-bar { display: flex;
        a { color: var(--main-color); font-family: 'Dela Gothic One'; text-transform: lowercase; display: flex; align-items: center;
          svg { width: 37px; height: 41px; margin-left: .5rem; fill: $linkColor; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { height: 5.375rem; padding: 4rem 1.5rem 0;
      .header { grid-column: 1 / 9;
        &__column { flex-direction: row; justify-content: space-between;
          &:last-child { align-items: center; }
        }

        &-language { margin: .0625rem 1.5rem -.125rem 0;
          a { font-size: .875rem; line-height: 1.42; }
        }
        &-theme-switcher { margin: 0; }
        &-menu { margin: 0 0 .0625rem;
          ul li {
            &:not(:last-child) { margin-right: 1.5rem; display: block; }

            a { font-size: .875rem; line-height: 1.42; }
          }
        }
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { grid-column: 1 / 13;
        &-language { margin: .0625rem 1.5rem -.125rem 6.25rem; }
        &-menu ul li:not(:last-child) { margin-right: 3.75rem; }
      }
    }
  }
}

main { margin-top: 7.5rem; @include z('main');
  .container {
    .content { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .content { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .content { grid-column: 1 / 13; }
    }
  }

  @media screen and (min-width: $tabletWidth) { margin-top: 5.375rem; }
}

footer { border-radius: 30px 30px 0 0; background: $footerBackground; @include z('footer');
  .container { padding: 3rem 1.25rem 2.5rem;
    .footer { grid-column: 1 / 7; display: flex; flex-direction: column;
      &-text { margin-bottom: 2rem; display: inline-flex; flex-direction: column;
        p { position: relative; color: $white; font-family: 'Dela Gothic One'; font-size: 1.5625rem; line-height: 1.42;
          &:nth-child(1) { margin-left: 65px;
            img { left: 132px; top: -7px; width: 128px; height: 51px; }
          }
          &:nth-child(4) { margin-left: 65px;
            img {
              &:first-child { left: -65px; top: 10px; width: 60px; height: 11px; }
              &:last-child { left: 114px; bottom: 0; width: 136px; height: 5px; }
            }
          }

          img { position: absolute; z-index: -1; }
        }
      }
      &-social { margin-bottom: 2.3125rem;
        li {
          &:not(:last-child) { margin-bottom: .875rem; }

          a { color: $white; font-size: 1.25rem; line-height: 1.2; display: inline-flex; align-items: center;
            svg { width: 33px; height: 33px; margin-right: 1.5rem; stroke: $white; flex: none; }
          }
        }
      }
    }
    .footer-info { grid-column: 1 / 7; display: flex; flex-direction: column;
      &-copyright { margin-bottom: .625rem;
        p { color: $white; }
      }
      &-menu ul { display: flex; flex-direction: column;
        li {
          &:not(:last-child) { margin-bottom: .375rem; }

          a { color: $white; font-size: .75rem; line-height: 1.2; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3rem 1.5rem 2.5rem;
      .footer { grid-column: 1 / 9; flex-direction: row; justify-content: space-between;
        &-text { margin: 0 1.5rem 2.3125rem 0;
          p { font-size: 2.125rem;
            &:nth-child(1) img { left: 182px; width: 160px; height: 64px; }
            &:nth-child(4) img {
              &:first-child { top: 16px; }
              &:last-child { left: 156px; width: 182px; height: 6px; }
            }
          }
        }
        &-social li {
          &:not(:last-child) { margin-bottom: 1.25rem; }

          a { font-size: 1.875rem;
            // &:hover { color: $black;
            //   svg { stroke: $black; }
            // }
          }
        }
      }
      .footer-info { grid-column: 1 / 9; flex-direction: row; justify-content: space-between; align-items: center;
        &-copyright { margin: 0 1.5rem 0 0; }
        &-menu ul { flex-direction: row;
          li {
            &:not(:last-child) { margin: 0 1.5rem 0 0; }

            a { font-size: .875rem;
              &:hover { text-decoration: underline; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 7.5rem 1.5rem 3rem;
      .footer { grid-column: 1 / 13;
        &-text {
          p { font-size: 3.75rem;
            &:nth-child(1) { margin: 0;
              img { left: 306px; width: 280px; height: 112px; }
            }
            &:nth-child(4) { margin-left: 106px;
              img {
                &:first-child { left: -106px; top: 36px; width: 90px; height: 16px; }
                &:last-child { left: 246px; width: 296px; height: 10px; }
              }
            }
          }
        }
      }
      .footer-info { grid-column: 1 / 13;
        &-menu ul li:not(:last-child) { margin: 0 7.5rem 0 0; }
      }
    }
  }
}


/* Page styles */
@import 'page/index';


/* Module styles */
@import 'module/navigation';
@import 'module/popup';
@import 'module/menu';
@import 'module/cookies';
