extends include/main

block variables
  - let title = 'SUR AGENCY'
  - let page = 'index'

block content
  #index
    .container
      .index.content
        .index-bg
          .index-bg__image.index-bg__image-spiral
            img(src='/image/bg/index/spiral.svg' alt='icon')
          .index-bg__image.index-bg__image-lines
            svg
              use(href='/image/bg/index/lines.svg#lines')
          .index-bg__image.index-bg__image-hand
            img(src='/image/bg/hand.gif' alt='animation')
          .index-bg__image.index-bg__image-star
            svg
              use(href='/image/bg/index/star.svg#star')
          .index-bg__image.index-bg__image-crown
            svg
              use(href='/image/bg/index/crown.svg#crown')
          .index-bg__image.index-bg__image-sparks
            svg
              use(href='/image/bg/index/sparks.svg#sparks')
        .index__title
          .h1
            | Осто
            b —
            span рожно
            br
            span сейчас
            br
            | будет
        .index-logo
          svg
            use(href='/image/logo.svg#logo')
          .index-logo__vertical
            svg
              use(href='/image/logo-vertical.svg#logo')
          .index-logo__rings
            svg
              use(href='/image/bg/index/rings.svg#rings')
          .index-logo__patch
            svg
              use(href='/image/bg/index/patch.svg#patch')
  #about
    .container
      .about.content
        .about-info-mobile
          p
            img(src='/image/bg/about/stroke.svg' alt='icon')
            | Крэйзи-команда, которая
            img(src='/image/bg/about/scribble.svg' alt='icon')
          p
            | разрабатывает
            span
              img(src='/image/about/about-1.png' srcset='/image/about/about-1@2x.png 2x' loading='lazy' alt='image')
            | сайты
          p
            | запускает
            img(src='/image/bg/about/rocket.svg' alt='icon')
            | рекламные кампании
          p
            | и приводит горяченьких лидов,
            img(src='/image/bg/about/crown.svg' alt='icon')
          p
            | работает
            span
              img(src='/image/about/about-2.png' srcset='/image/about/about-2@2x.png 2x' loading='lazy' alt='image')
            | с блогерами,
          p знает подход к СМИ, визуально
          p упаковывает, снимает фото
          p
            span
              img(src='/image/about/about-3.png' srcset='/image/about/about-3@2x.png 2x' loading='lazy' alt='image')
            |  и видео.
            img(src='/image/bg/about/scribble-2.svg' alt='icon')
          p
            | И всё это с задором, играючи
          p
            img(src='/image/bg/about/arrow.svg' alt='icon')
            | и смеясь в лицо дедлайнам.
            img(src='/image/bg/about/scribble-3.svg' alt='icon')
        .about-info
          p
            img(src='/image/bg/about/stroke.svg' alt='icon')
            | Крэйзи-команда, которая разрабатывает сайты
            span
              img(src='/image/about/about-1.png' srcset='/image/about/about-1@2x.png 2x' loading='lazy' alt='image')
          p
            | запускает
            img(src='/image/bg/about/rocket.svg' alt='icon')
            | рекламные кампании и приводит
            img(src='/image/bg/about/scribble.svg' alt='icon')
          p
            | горяченьких лидов,
            img(src='/image/bg/about/crown.svg' alt='icon')
            | работает
            span
              img(src='/image/about/about-2.png' srcset='/image/about/about-2@2x.png 2x' loading='lazy' alt='image')
            | с блогерами,
          p знает подход к СМИ, визуально упаковывает,
          p
            | снимает
            span
              img(src='/image/about/about-3.png' srcset='/image/about/about-3@2x.png 2x' loading='lazy' alt='image')
            | фото и видео.
            img(src='/image/bg/about/scribble-2.svg' alt='icon')
            | И всё это с
          p
            | задором,
            img(src='/image/bg/about/arrow.svg' alt='icon')
            | играючи и смеясь в лицо дедлайнам.
            img(src='/image/bg/about/scribble-3.svg' alt='icon')
  section#directions
    .container
      .directions.content
        .directions-bg
          .directions-bg__image
            img(src='/image/bg/index/spiral.svg' alt='icon')
        .directions__title
          h2 Направления
        .directions__desc
          svg
            use(href='/image/icon/quote.svg#quote')
          | нажми на карточку
          svg
            use(href='/image/icon/quote.svg#quote')
        ul.directions-list
          li.directions-list__card
            .directions-list__title
              h3 Диджитал
            .directions-list__info
              p Повышаем узнаваемость в инфополе, используем все цифровые инструменты, приводим потенциальных клиентов.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='digital' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-digital
              .directions-list__tag Посевы в пабликах
              .directions-list__tag Стикерпак в Телеграме
              .directions-list__tag Контекст и медийка
              .directions-list__tag Email-рассылка
              .directions-list__tag SMM
              .directions-list__tag Programmatic
              .directions-list__tag Инстаграм-маска
              .directions-list__tag Таргет
              .directions-list__tag SEO-оптимизация
              .directions-list__image
                img(src='/image/bg/directions/digital.svg' alt='image')
          li.directions-list__card
            .directions-list__title
              h3 Web
            .directions-list__info
              p Проектируем сайты любой сложности, оказываем техническую поддержку, делаем удобные сервисы для работы с клиентами.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='web' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-web
              .directions-list__tag Лендинг
              .directions-list__tag Многостраничный сайт
              .directions-list__tag Чат-бот в Телеграме
              .directions-list__tag Приложение
              .directions-list__image
                img(src='/image/bg/directions/web.svg' alt='image')
          li.directions-list__card
            .directions-list__title
              h3 PR
            .directions-list__info
              p Формируем положительный имидж, создаем информационные поводы, помогаем подавать рекламу нативно и понятно.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='pr' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-pr
              .directions-list__tag Наружная реклама
              .directions-list__tag Пресс-конференция
              .directions-list__tag Спецпроект со СМИ
              .directions-list__tag Блогеры и инфлюенсеры
              .directions-list__image
                img(src='/image/bg/directions/pr.svg' alt='image')
          li.directions-list__card
            .directions-list__title
              h3 Маркетинг
            .directions-list__info
              p Оцениваем эффективность каналов коммуникации, выстраиваем подробный план действий.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='marketing' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-marketing
              .directions-list__tag Стратегия продвижения
              .directions-list__tag Маркетинговый аудит
              .directions-list__image
                img(src='/image/bg/directions/marketing.svg' alt='image')
          li.directions-list__card
            .directions-list__title
              h3 Продакшн
            .directions-list__info
              p Создаем визуальный контент, который подогревает интерес и рассказывает о бренде и продуктах.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='production' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-production
              .directions-list__tag Фотосессия
              .directions-list__tag Сценарий
              .directions-list__tag Видеосъемка
              .directions-list__tag Вирусный ролик
              .directions-list__image
                img(src='/image/bg/directions/production.svg' alt='image')
          li.directions-list__card
            .directions-list__title
              h3 Дизайн
            .directions-list__info
              p Разрабатываем запоминающийся визуальный образ, помогаем отстроиться от конкурентов, привлекаем внимание в онлайне и офлайне.
            .directions-list__button
              .button
                a.open-popup(href='#direct' data-direction='design' title='Хочу знать больше') Хочу знать больше
            .directions-list__tags.directions-list__tags-design
              .directions-list__tag Мерч
              .directions-list__tag Брендбук
              .directions-list__tag Анимация
              .directions-list__tag Презентация
              .directions-list__tag Лого
              .directions-list__tag POS-материалы
              .directions-list__image
                img(src='/image/bg/directions/design.svg' alt='image')
  section#cases
    .container
      .cases.content
        .cases-bg
          .cases-bg__image
            img(src='/image/bg/rings.svg' alt='icon')
        .cases__title
          h2 Кейсы
        .cases-filter
          .cases-filter__link
            a(href='#' title='Выберите направление')
              | Выберите направление
              img(src='/image/icon/arrow.svg' alt='icon')
          .cases-filter-list
            .cases-filter-list__item
              a(href='#' title='Мерч') Мерч
            .cases-filter-list__item
              a(href='#' title='Лендинг') Лендинг
            .cases-filter-list__item
              a(href='#' title='Брендбук') Брендбук
            .cases-filter-list__item
              a(href='#' title='SMM') SMM
            .cases-filter-list__item
              a(href='#' title='Блогеры и инфлюенсеры') Блогеры и инфлюенсеры
            .cases-filter-list__item.active
              a(href='#' title='Таргет') Таргет
            .cases-filter-list__item
              a(href='#' title='Видеосъемка') Видеосъемка
            .cases-filter-list__item
              a(href='#' title='Многостраничный сайт') Многостраничный сайт
            .cases-filter-list__item.active
              a(href='#' title='Контекст и медийка') Контекст и медийка
            .cases-filter-list__item
              a(href='#' title='Email-рассылка') Email-рассылка
            .cases-filter-list__item
              a(href='#' title='Стратегия продвижения') Стратегия продвижения
            .cases-filter-list__item
              a(href='#' title='СМИ') СМИ
            .cases-filter-list__reset
              a(href='#' title='Сбросить все')
                svg
                  use(href='/image/icon/close.svg#close')
                | Сбросить все
        .cases-swiper.swiper
          ul.cases-slider.swiper-wrapper
            li.cases-slider__item.swiper-slide.new
              .cases-slider__image
                a.open-popup(href='#case' title='6 соток и Магнит. Музей Нового года')
                  div
                    img(src='/image/case/case-1.jpg' srcset='/image/case/case-1@2x.jpg 2x' alt='image')
                  span Посмотреть
              .cases-slider__title
                a.open-popup(href='#case' title='6 соток и Магнит. Музей Нового года')
                  .h4 6 соток и Магнит. Музей Нового года
              .cases-slider__tags
                a(href='#' title='#Таргет') #Таргет
            li.cases-slider__item.swiper-slide.new
              .cases-slider__image
                a.open-popup(href='#case' title='Фан зона UEFA')
                  div
                    img(src='/image/case/case-2.jpg' srcset='/image/case/case-2@2x.jpg 2x' alt='image')
                  span Посмотреть
              .cases-slider__title
                a.open-popup(href='#case' title='Фан зона UEFA')
                  .h4 Фан зона UEFA
              .cases-slider__tags
                a(href='#' title='#Таргет') #Таргет
                a(href='#' title='#Контекст и медийка') #Контекст и медийка
                a(href='#' title='#Email-рассылка') #Email-рассылка
                a(href='#' title='#Блогеры и инфлюенсеры') #Блогеры и инфлюенсеры
                a(href='#' title='#СМИ') #СМИ
            li.cases-slider__item.swiper-slide
              .cases-slider__image
                a.open-popup(href='#case' title='Московский спорт. ГТО в Москве')
                  div
                    img(src='/image/case/case-3.jpg' srcset='/image/case/case-3@2x.jpg 2x' alt='image')
                  span Посмотреть
              .cases-slider__title
                a.open-popup(href='#case' title='Московский спорт. ГТО в Москве')
                  .h4 Московский спорт. ГТО в Москве
              .cases-slider__tags
                a(href='#' title='#Таргет') #Таргет
                a(href='#' title='#Контекст и медийка') #Контекст и медийка
                a(href='#' title='#Email-рассылка') #Email-рассылка
            li.cases-slider__item.swiper-slide
              .cases-slider__image
                a.open-popup(href='#case' title='6 соток и Магнит. Музей Нового года')
                  div
                    img(src='/image/case/case-1.jpg' srcset='/image/case/case-1@2x.jpg 2x' alt='image')
                  span Посмотреть
              .cases-slider__title
                a.open-popup(href='#case' title='6 соток и Магнит. Музей Нового года')
                  .h4 6 соток и Магнит. Музей Нового года
              .cases-slider__tags
                a(href='#' title='#Таргет') #Таргет
            li.cases-slider__item.swiper-slide
              .cases-slider__link
                a.open-popup(href='#case' title='Смотреть все кейсы в презентации')
                  span
                    | Смотреть все кейсы
                    br
                    | в презентации
          .swiper-button-prev
          .swiper-button-next
  section#clients
    .container
      .clients.content
        .clients__title
          h2 Клиенты и партнеры
        ul.clients-list
          - for (let i = 1; i <= 11; i++)
            li.clients-list__logo
              a(href='#' title='Brand')
                img(src='/image/logo/logo-' + i + '.png' srcset='/image/logo/logo-' + i + '@2x.png 2x' loading='lazy' alt='image')
                img(src='/image/logo/black/logo-' + i + '.png' srcset='/image/logo/black/logo-' + i + '@2x.png 2x' loading='lazy' alt='image')
  section#team
    .container
      .team.content
        .team__title
          h2 Команда
