
/* Dela Gothic One */
@font-face {
  font-family: 'Dela Gothic One';
  src: local('Dela Gothic One Regular'), local('DelaGothicOne-Regular'),
    url('../font/DelaGothicOne/DelaGothicOne-Regular.woff2') format('woff2'),
    url('../font/DelaGothicOne/DelaGothicOne-Regular.woff') format('woff'),
    url('../font/DelaGothicOne/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tenor Sans */
@font-face {
  font-family: 'Tenor Sans';
  src: local('Tenor Sans Regular'), local('TenorSans-Regular'),
    url('../font/TenorSans/TenorSans-Regular.woff2') format('woff2'),
    url('../font/TenorSans/TenorSans-Regular.woff') format('woff'),
    url('../font/TenorSans/TenorSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
