
.theme-light {
  --main-color: #000000;
  --background-color: #e5e5e5;
  --accent-color: #000000;

  --switcher-left: 0;
  --switcher-left-tablet: 1px;
}
.theme-dark {
  --main-color: #ffffff;
  --background-color: #000000;
  --accent-color: #ff0059;

  --switcher-left: calc(100% - 15px);
  --switcher-left-tablet: calc(100% - 19px);
}

/* Colors */
$black                      : #000000;
$white                      : #ffffff;
$darkGrey                   : #757575;
$lightGrey                  : rgba(255, 255, 255, .2);

$fuchsia                    : #ff0059;
$pink                       : #ff8ee8;
$purple                     : #a467bf;
$blue                       : #876dff;
$green                      : #00c1a3;

/* Font options */
$mainFontWeight             : normal;
$mainFontSize               : 16px;
$mainFont                   : 'Tenor Sans', sans-serif;
$mainLineHeight             : 1.5;
$mainShadow                 : inset 0 0 1px rgba(0, 0, 0, .66);

/* Screen resolution */
$mobileWidth                : 320px;
$mobileWidth_lg             : 576px;
$tabletWidth                : 768px;
$laptopWidth                : 992px;
$desktopWidth               : 1208px;
$desktopWidth_md            : 1560px;
$desktopWidth_lg            : 1920px;

/* Primary colors */
$linkColor                  : $fuchsia;
$linkColor_hover            : $fuchsia;
$accentColor                : $purple;
$successColor               : $blue;
$errorColor                 : $fuchsia;

$cardBackground_digital     : url('/image/bg/noise.png'), $fuchsia;
$cardBackground_web         : url('/image/bg/noise.png'), $black;
$cardBackground_pr          : url('/image/bg/noise.png'), $blue;
$cardBackground_marketing   : url('/image/bg/noise.png'), $green;
$cardBackground_production  : url('/image/bg/noise.png'), $pink;
$cardBackground_design      : url('/image/bg/noise.png'), $purple;

$cardShadow                 : 0 16px 56px rgba(0, 0, 0, .4);
$tagShadow                  : 0 4px 10px rgba(0, 0, 0, .15);

$menuBackground             : url('/image/bg/noise.png'), linear-gradient(115deg, $blue .5%, $fuchsia 115.5%);
$footerBackground           : url('/image/bg/noise.png'), linear-gradient(180deg, $fuchsia 8.5%, $pink 196.5%);
$popupBackground            : url('/image/bg/noise.png'), linear-gradient(115deg, $blue .5%, $fuchsia 115.5%);
$popupBackground_case       : url('/image/bg/noise.png'), linear-gradient(133.22deg, #5b37ff 0%, $black 100%);
$popupBackground_job        : url('/image/bg/noise.png'), linear-gradient(133.22deg, $purple 0%, $black 100%);
$overlayBackground          : $lightGrey;
$cookiesBackground          : url('/image/bg/noise.png'), $fuchsia;

$filterBackground           : url('/image/bg/noise.png'), $black;
$borderColor                : rgba(255, 255, 255, .5);

$caseImageGradient          : linear-gradient(0deg, rgba(255, 0, 89, .5), rgba(255, 0, 89, .5)),
                              radial-gradient(43.13% 43.13% at 112.28% 100%, $pink 0%, rgba(255, 142, 232, 0) 100%),
                              radial-gradient(69.88% 69.88% at -24.49% 85.53%, #933eff 0%, rgba(147, 62, 255, 0) 100%),
                              radial-gradient(74.71% 74.71% at 93.2% -13.52%, #ffc888 0%, rgba(255, 200, 136, 0) 100%);
