
/* Cookies */
.cookies { position: fixed; right: 1.25rem; bottom: 1.25rem; width: calc(100% - 2.5rem); padding: 1.25rem; border-radius: 20px; background: $cookiesBackground; display: none; align-items: center; @include z('cookies');
  &__desc { color: $white; font-size: .875rem; }
  &__button { margin-left: 2.5rem; }

  @media screen and (min-width: $tabletWidth) { width: 400px;
    &__desc { font-size: 1rem; }
  }
  @media screen and (min-width: $desktopWidth) {}
}
