
/* Menu */
#menu { position: relative; width: 100vw; height: 100vh; background: $menuBackground; display: none; @include z('menu');
  .container { height: 100%; padding: 3.75rem 1.25rem 0;
    .menu { grid-column: 1 / 7;
      .close-menu { position: absolute; left: auto; top: 20px; right: 20px; width: 40px; height: 40px; border-radius: 50%; background: $overlayBackground; backdrop-filter: blur(16px); display: flex; justify-content: center; align-items: center;
        &:hover svg { fill: $linkColor_hover; }

        svg { width: 13px; height: 13px; fill: $white; }
      }

      nav { margin-bottom: 2.75rem;
        ul {
          li {
            &:not(:last-child) { margin-bottom: .625rem; }

            a { color: $white; font-family: 'Dela Gothic One'; font-size: 1.25rem; line-height: 1.42; text-transform: uppercase; }
          }
        }
      }
      &-social { display: flex; flex-wrap: wrap;
        li { width: calc((100% - 1rem) / 2);
          &:nth-child(odd) { margin-right: 1rem; }
          &:nth-last-child(n+3) { margin-bottom: 1rem; }

          a { color: $white; line-height: 1.2; display: inline-flex; align-items: center;
            svg { width: 22px; height: 22px; margin-right: .875rem; stroke: $white; flex: none; }
          }
        }
      }
      &-character { position: absolute; bottom: 0; right: 20px; width: 337px;
        &__text { width: 100%; height: 112px; padding: .875rem 1.125rem; background: transparent url('/image/bg/union.svg') top no-repeat;
          p { color: $white; font-size: 1rem; }
        }
        &__image { margin-top: -60px; display: flex; justify-content: center;
          img { width: 313px; height: 160px; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.75rem 1.5rem 0;
      .menu { grid-column: 1 / 9;
        .close-menu { top: 40px; width: 48px; height: 48px;
          svg { width: 16px; height: 16px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .menu { grid-column: 1 / 13; }
    }
  }
}
