
/* Popup */
#popup { position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; overflow-y: auto; display: none; @include z('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; overflow-x: hidden; @include z('popup-overlay');
    .close-popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: $overlayBackground; backdrop-filter: blur(16px); }
    .popup { position: relative; left: 50vw; top: 0; width: calc(100% - 2.5rem); border-radius: 30px; margin: 1.25rem 0; padding: 3.75rem 1.25rem 1.25rem; background: $popupBackground; overflow: hidden; display: none; transform: translate(-50%, 0);
      &.center { top: 50vh; margin: 0; transform: translate(-50%, -50%);

        /* Добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }

      .close-popup { position: absolute; left: auto; top: 20px; right: 20px; width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center; @include z('popup-close');
        svg { width: 13px; height: 13px; fill: $white; }
      }
    }

    /* Направления */
    #direct { padding: 3.75rem 1.25rem 2.75rem;
      &[data-direction=digital] { background: $cardBackground_digital; }
      &[data-direction=web] { background: $cardBackground_web; }
      &[data-direction=pr] { background: $cardBackground_pr; }
      &[data-direction=marketing] { background: $cardBackground_marketing; }
      &[data-direction=production] { background: $cardBackground_production; }
      &[data-direction=design] { background: $cardBackground_design; }
      &[data-direction=case] { background: $popupBackground_case; }

      .direct { width: 100%; display: flex; flex-direction: column;
        &-text { margin-bottom: 2rem; display: inline-flex; flex-direction: column;
          p { position: relative; color: $white; font-family: 'Dela Gothic One'; font-size: 1.5rem; line-height: 1.42;
            &:nth-child(1) img { left: 121px; top: -7px; width: 128px; height: 51px; }
            &:nth-child(4) { margin-left: 65px;
              img {
                &:first-child { left: -65px; top: 10px; width: 60px; height: 11px; }
                &:last-child { left: 99px; bottom: 0; width: 136px; height: 5px; }
              }
            }

            img { position: absolute; z-index: -1; }
          }
        }
        &-social { display: flex; flex-wrap: wrap;
          li { width: calc((100% - 1rem) / 2);
            &:nth-child(odd) { margin-right: 1rem; }
            &:nth-last-child(n+3) { margin-bottom: 1rem; }

            a { color: $white; line-height: 1.2; display: inline-flex; align-items: center;
              svg { width: 22px; height: 22px; margin-right: .875rem; stroke: $white; flex: none; }
            }
          }
        }
      }
    }

    /* Кейсы */
    #case { background: $popupBackground_case;
      .case { width: 100%;
        &__tags { margin-bottom: 1.875rem;
          a { height: 2.25rem; border: 1px solid $borderColor; border-radius: 1.125rem; margin: 0 .3125rem .3125rem 0; padding: 0 1rem; color: $white; font-size: .875rem; line-height: 1; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; pointer-events: none; }
        }
        &__title { margin-bottom: 1.875rem;
          h2, .h2 { color: $white; }
        }
        &__content { margin-bottom: 1.875rem;
          h5 { margin: 1.875rem 0 .625rem; color: $white; }
          p { color: $white; font-size: 1.125rem; line-height: 1.6;
            &:not(:last-child) { margin-bottom: .625rem; }
          }
          ul { margin-bottom: 1.875rem;
            li { position: relative; margin-left: 2.25rem; color: $white; font-size: 1.0625rem; line-height: 1.6;
              &::before { @include pseudo; left: -28px; top: 8px; width: 10px; height: 10px; background: transparent url('/image/icon/scribble.svg') center no-repeat; }

              &:not(:last-child) { margin-bottom: 1.25rem; }
            }
          }
          blockquote,
          q { margin: .625rem 0 .3125rem; color: $white; font-family: 'Dela Gothic One'; font-size: 2.0625rem; line-height: 1.1;
            &:not(:first-child) { margin-top: 1.25rem; }
            & + p { font-size: 1.0625rem; }
          }
        }

        &__group { margin-bottom: 1.875rem; display: flex; flex-direction: column; }
        &__quote {
          &:not(:last-child) { margin-bottom: .625rem; }
        }
        &__link {
          &:not(:last-child) { margin-bottom: .625rem; }

          a { color: $white; font-size: 1.0625rem; line-height: 1.6; display: flex;
            svg { width: 14px; height: 14px; margin: .25rem .875rem 0 0; stroke: $white; }
          }
        }

        &-swiper { position: relative; width: 100%; }

        &-slider {
          &__item { width: auto; }
          &__image img { width: 229px; border-radius: 10px; }
        }

        .swiper-button-prev,
        .swiper-button-next { top: calc((100% - 36px) / 2); }

        &__button { border-top: 1px solid $lightGrey; margin: 0 -1.25rem; padding: 1.25rem 1.25rem 0; }
      }
    }

    /* Вакансии */
    #job { background: $popupBackground_job;
      .job { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) {
      .popup { width: calc(100% - 3rem); border-radius: 40px; margin: 3rem 0; padding: 3.125rem;
        .close-popup { top: 40px; right: 40px; width: 48px; height: 48px;
          &:hover { background: $white;
            svg { fill: $black; }
          }

          svg { width: 16px; height: 16px; }
        }
      }

      #direct { width: 600px; padding: 4.25rem 3.125rem;
        .direct {
          &-text { margin-bottom: 3.125rem;
            p { font-size: 2.125rem;
              &:nth-child(1) img { left: 182px; width: 160px; height: 64px; }
              &:nth-child(4) img {
                &:first-child { top: 16px; }
                &:last-child { left: 156px; width: 182px; height: 6px; }
              }
            }
          }
          &-social li {
            &:not(:last-child) { margin-bottom: 1.25rem; }

            a { font-size: 1.875rem;
              // &:hover { color: $black;
              //   svg { stroke: $black; }
              // }

              svg { width: 33px; height: 33px; margin-right: 1.5rem; }
            }
          }
        }
      }

      #case {
        .case {
          &__content {
            ul { column-width: calc((100% - 1.75rem) / 2); column-count: 2; column-gap: 1.75rem; }
          }
          &__group { flex-direction: row; flex-wrap: wrap; }
          &__quote,
          &__link { width: calc((100% - 1.75rem) / 2);
            &:not(:last-child) { margin: 0; }
            &:nth-child(odd) { margin-right: 1.75rem; }
            &:nth-last-child(n+3) { margin-bottom: .75rem; }
          }
          &__link a:hover { color: $linkColor_hover;
            svg { stroke: $linkColor_hover; }
          }

          &__button { margin: 0 -3.125rem; padding: 2.125rem 3.125rem 0; }
        }
      }

      #job {
        .job {}
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .popup { width: 960px; }

      #direct { padding: 5.25rem 3.125rem 4.25rem;
        .direct {
          &-text { margin-bottom: 4.25rem;
            p { font-size: 3.125rem;
              &:nth-child(1) img { left: 252px; width: 225px; height: 90px; }
              &:nth-child(3) { font-size: 2.375rem; }
              &:nth-child(4) { margin-left: 106px; font-size: 2.375rem;
                img {
                  &:first-child { left: -106px; top: 16px; width: 90px; height: 16px; }
                  &:last-child { left: 166px; width: 209px; height: 8px; }
                }
              }
            }
          }
        }
      }

      #case {
        .case {
          &__tags { margin-bottom: 2.375rem;
            a { font-size: .9375rem; }
          }
          &__title { margin-bottom: 3.125rem;
            h2, .h2 { font-size: 4.375rem; }
          }
          &__content { margin-bottom: 3.125rem;
            h5 { margin: 3.125rem 0 .9375rem; }
            p { font-size: 1.75rem;
              &:not(:last-child) { margin-bottom: .625rem; }
            }
            ul { margin-bottom: 3.125rem;
              li { font-size: 1.25rem; }
            }
            blockquote,
            q { margin: 1.5625rem 0 .625rem; font-size: 3rem;
              & + p { font-size: 1.25rem; }
            }
          }
          &__group { margin-bottom: 3.125rem; }
          &__link a { font-size: 1.25rem; line-height: 1.6;
            svg { margin: .375rem 1rem 0 0; }
          }

          &-slider {
            &__image img { width: 320px; border-radius: 16px; }
          }

          .swiper-button-prev,
          .swiper-button-next { top: calc((100% - 48px) / 2); }

          &__button { padding: 3.125rem 3.125rem 0; }
        }
      }

      #job {
        .job {}
      }
    }
  }
}
