footer
  .container
    .footer
      .footer-text
        p
          | Мы есть везде!
          img(src='/image/bg/stroke.svg' alt='icon')
        p Ну почти...
        p Заходи, куда удобно.
        p
          img(src='/image/bg/arrow.svg' alt='icon')
          | Везде ответим.
          img(src='/image/bg/scribble.svg' alt='icon')
      ul.footer-social
        li
          a(href='tg://resolve?domain=suragency' title='Телеграм')
            svg
              use(href='/image/icon/telegram.svg#telegram')
            | Телеграм
        li
          a(href='mailto:mail@suragency.ru' title='Почта')
            svg
              use(href='/image/icon/email.svg#email')
            | Почта
        li
          a(href='https://wa.me/+79001234567' target='_blank' title='Вотсап')
            svg
              use(href='/image/icon/whatsapp.svg#whatsapp')
            | Вотсап
        li
          a(href='https://www.instagram.com/suragency' target='_blank' title='Инстаграм')
            svg
              use(href='/image/icon/instagram.svg#instagram')
            | Инстаграм
    .footer-info
      .footer-info-copyright
        p &copy; 2022 CЮР
      nav.footer-info-menu
        ul
          li
            a(href='#' title='Политика сбора Cookies') Политика сбора Cookies
          li
            a(href='#' title='Политика конфиденциальности') Политика конфиденциальности
