header
  .container
    .header
      .header__column
        .header-language
          a(href='#' title='English') en
          a.current(href='#' title='Russia') ru
        .header-theme-switcher
          .switcher
            label На темное
            span
      .header__column
        nav.header-menu
          ul
            li
              a.scroll-to(href='#directions' title='Направления') Направления
            li
              a.scroll-to(href='#cases' title='Кейсы') Кейсы
            li
              a.scroll-to(href='#team' title='Команда') Команда
            li
              a.open-popup(href='#direct' title='Связаться')
                | Связаться
                img(src='/image/icon/arrow.svg' alt='icon')
        .header-menu-bar
          a.open-menu(href='#' title='Меню')
            | Меню
            svg
              use(href='/image/icon/menu.svg#menu')
