block variables

doctype html
html(lang='ru' class='theme-light')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // Meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Ilya Korotkov ilushkeens@gmail.com')
    meta(name='theme-color' content='#000000')

    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://suragency.ru/')
    meta(property='og:title' content=title)
    meta(property='og:description' content='')
    meta(property='og:image' content='https://suragency.ru/image/social.jpg')

    // Icon & CSS
    link(href='/favicon.svg' rel='icon')
    link(href='/mask-icon.svg' rel='mask-icon' color='#ff0059')
    link(href='/apple-touch-icon.png' rel='apple-touch-icon')
    link(href='/manifest.json' rel='manifest')
  body
    #app
      include header
      include menu
      main
        block content
      include footer
    include popup
    include cookies

    // JS
