// Menu
#menu
  .container
    .menu
      a.close-menu(href='#' title='Закрыть меню')
        svg
          use(href='/image/icon/close.svg#close')
      nav
        ul
          li
            a.scroll-to(href='#about' title='О нас') О нас
          li
            a.scroll-to(href='#directions' title='Направления') Направления
          li
            a.scroll-to(href='#cases' title='Кейсы') Кейсы
          li
            a.scroll-to(href='#team' title='Команда') Команда
      ul.menu-social
        li
          a(href='tg://resolve?domain=suragency' title='Телеграм')
            svg
              use(href='/image/icon/telegram.svg#telegram')
            | Телеграм
        li
          a(href='https://wa.me/+79001234567' target='_blank' title='Вотсап')
            svg
              use(href='/image/icon/whatsapp.svg#whatsapp')
            | Вотсап
        li
          a(href='mailto:mail@suragency.ru' title='Почта')
            svg
              use(href='/image/icon/email.svg#email')
            | Почта
        li
          a(href='https://www.instagram.com/suragency' target='_blank' title='Инстаграм')
            svg
              use(href='/image/icon/instagram.svg#instagram')
            | Инстаграм
      .menu-character
        .menu-character__text
          p Привет! Хочешь увидеть больше кейсов? В презентации собрали всё, что делали и чем гордимся.
        .menu-character__image
          img(src='/image/bg/character.png' srcset='/image/bg/character@2x.png 2x' alt='image')
// Menu end
