// Popup
#popup
  .overlay
    .close-popup
    // Направления
    .popup.center#direct
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .direct
        .direct-text
          p
            | Мы есть везде!
            img(src='/image/bg/stroke.svg' alt='icon')
          p Ну почти...
          p Заходи, куда удобно.
          p
            img(src='/image/bg/arrow.svg' alt='icon')
            | Везде ответим.
            img(src='/image/bg/scribble.svg' alt='icon')
        ul.direct-social
          li
            a(href='tg://resolve?domain=suragency' title='Телеграм')
              svg
                use(href='/image/icon/telegram.svg#telegram')
              | Телеграм
          li
            a(href='mailto:mail@suragency.ru' title='Почта')
              svg
                use(href='/image/icon/email.svg#email')
              | Почта
          li
            a(href='https://wa.me/+79001234567' target='_blank' title='Вотсап')
              svg
                use(href='/image/icon/whatsapp.svg#whatsapp')
              | Вотсап
          li
            a(href='https://www.instagram.com/suragency' target='_blank' title='Инстаграм')
              svg
                use(href='/image/icon/instagram.svg#instagram')
              | Инстаграм
    // Кейсы
    .popup#case
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .case
        .case__tags
          a(href='#' title='Таргет') Таргет
        .case__title
          h2 6 соток и Магнит. Музей Нового года
        .case__content
          h5 Задача
          p Запустить таргетированную рекламу, которая расскажет о Музее Нового года и его активностях, а также поможет привлечь к участию пользователей
          h5 Сложности
          p Очень сложная механика и много условий для участия в конкурсе
          h5 Фотоотчёт
          .case-swiper.swiper
            .case-slider.swiper-wrapper
              - for (let i = 1; i <= 3; i++)
                .case-slider__item.swiper-slide
                  .case-slider__image
                    img(src='/image/case/1/' + i + '.jpg' srcset='/image/case/1/' + i + '@2x.jpg 2x' alt='image')
            .swiper-button-prev
            .swiper-button-next
          h5 Решение
          ul
            li Таргетированная реклама в социальных сетях Instagram и Facebook, в том числе графичные ролики.
            li Суммарное количество кликов достигло почти 3 тыс. переходов, что на 7% превысило заявленный KPI.
            li Таргетированная реклама в социальных сетях Instagram и Facebook
            li Суммарное количество кликов достигло KPI.
            li Суммарное количество кликов достигло почти 3 тыс. переходов, что на 7% превысило заявленный KPI.
          h5 Результат
          q 118
          p Человек выполнили все условия и зарегистрировались на сайте музея
          .case__group
            .case__quote
              q 118
              p Человек выполнили все условия и зарегистрировались на сайте музея
            .case__quote
              q 118
              p Человек выполнили все условия и зарегистрировались на сайте музея
            .case__quote
              q 118
              p Человек выполнили все условия и зарегистрировались на сайте музея
          .case__group
            .case__link
              a(href='#' target='_blank' title='Сайт «Фанерон»')
                svg
                  use(href='/image/icon/link.svg#link')
                | Сайт «Фанерон»
            .case__link
              a(href='#' target='_blank' title='Фанерон-бот в Телеграме')
                svg
                  use(href='/image/icon/link.svg#link')
                | Фанерон-бот в Телеграме
            .case__link
              a(href='#' target='_blank' title='Фанерон в Инстаграме')
                svg
                  use(href='/image/icon/link.svg#link')
                | Фанерон в Инстаграме
        .case__button
          .button.button_max
            a.open-popup(href='#direct' data-direction='case' title='Хочу так же') Хочу так же
    // Вакансии
    .popup#job
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .job
// Popup end
