
/* Index page */
#index {
  .container { padding-bottom: 3.625rem;
    .index { position: relative;
      &-bg {
        &__image { position: absolute; z-index: -1;
          &-spiral { left: -40px; top: 0; transform: rotate(18deg);
            img { width: 85px; height: 191px; }
          }
          &-lines,
          &-star,
          &-sparks { display: none; }
          &-hand { top: 200px; right: -68px;
            img { width: 172px; height: 75px; }
          }
          &-crown { top: 62px; right: -8px;
            svg { width: 29px; height: 24px; stroke: var(--main-color); }
          }
        }
      }

      &__title { margin-bottom: .6875rem;
        h1, .h1 {
          span { width: 100%; text-align: right; display: inline-block; }
        }
      }

      &-logo { display: flex; justify-content: center;
        svg { width: 330px; height: 118px; fill: var(--main-color); }

        &__vertical,
        &__rings,
        &__patch { display: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 7.5rem;
      .index {
        &-bg {
          &__image {
            &-spiral { display: none; }
            &-lines,
            &-star { display: block; }
            &-lines { left: -108px; top: -126px; animation: lines 4s ease-in-out infinite;
              svg { width: 98px; height: 299px; }
            }
            &-hand { top: 130px; right: -152px;
              img { width: 320px; height: 140px; }
            }
            &-star { left: 227px; top: 91px; animation: star 10s ease-in-out infinite;
              svg { width: 296px; height: 296px; fill: var(--main-color); }
            }
            &-crown { left: 627px; top: -14px; right: auto; animation: crown 4s ease-in-out infinite;
              svg { width: 44px; height: 39px; }
            }
          }

          @keyframes lines {
            0%, 100% { top: -126px; }
            50% { top: -326px; }
            75% { top: -226px; }
          }
          @keyframes star {
            0%, 80%, 100% { transform: rotate(0deg); }
            10% { transform: rotate(-60deg); }
            20% { transform: rotate(-120deg); }
            40% { transform: rotate(270deg); }
            60% { transform: rotate(-270deg); }
          }
          @keyframes crown {
            0%, 50%, 100% { transform: translate(0, 0) rotate(0deg); }
            25% { transform: translate(-32px, -6px) rotate(-20deg); }
          }
        }

        &__title { margin-bottom: 1.0625rem;
          h1, .h1 {
            b { display: none; }
            span { width: auto; text-align: left; }
          }
        }

        &-logo { justify-content: flex-start;
          svg { width: 520px; height: 194px; fill: none; }

          &__vertical { position: absolute; right: -32px; bottom: 32px; display: block;
            svg { width: 12px; height: 129px; fill: var(--main-color); }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index {
        &-bg {
          &__image {
            &-spiral { left: auto; top: 270px; right: 34px; display: block; animation: spiral 7.5s linear infinite; transform: rotate(0deg); transform-origin: top;
              img { width: 166px; height: 427px; }
            }
            &-lines { left: -24px; }
            &-hand { top: 158px; right: -188px;
              img { width: 515px; height: 225px; }
            }
            &-star { left: 322px; top: 160px; }
            &-crown { left: 827px; top: -6px; }
            &-sparks { top: 104px; right: 250px; opacity: 0; display: block; animation: sparks 7.5s linear infinite;
              svg { width: 120px; height: 109px; stroke: var(--main-color); }
            }
          }

          @keyframes spiral {
            0%, 13%, 42%, 58%, 88%, 100% { transform: scaleY(1); }
            20%, 35%, 65%, 81% { transform: scaleY(.75); }
          }
          @keyframes sparks {
            0%, 13%, 15%, 35%, 37%, 58%, 60%, 81%, 83%, 100% { opacity: 0; }
            14%, 36%, 59%, 82% { opacity: 1; }
          }
        }

        &-logo {
          svg { width: 671px; height: 240px; }

          &__vertical svg { width: 12px; height: 129px; }
          &__rings { position: absolute; left: -40px; bottom: 4px; display: block; transform: rotate(1deg); animation: rings 4s linear infinite;
            svg { width: 149px; height: 143px; }
          }
          &__patch { position: absolute; left: 0px; bottom: 58px; display: block;
            svg { width: 62px; height: 55px; }
          }

          @keyframes rings {
            0%, 50%, 100% { transform: rotate(1deg); }
            25% { transform: rotate(-2deg); }
          }
        }
      }
    }
  }
}

#about {
  .container { padding-bottom: 3.25rem;
    .about {
      &-info-mobile p { position: relative; font-size: 1.175rem; line-height: 1.8; display: inline-flex; align-items: center;
        &:nth-child(1) img {
          &:first-child { position: absolute; left: -11px; top: 0; width: 92px; height: 35px; z-index: -1; }
          &:last-child { width: 37px; height: 37px; margin: 0 .5rem; }
        }
        &:nth-child(2) span,
        &:nth-child(5) span { position: relative; width: 82px; height: 39px; margin: 0 .5rem; flex: none;
          &::after { @include pseudo; left: 0; top: 0; width: 100%; height: 100%; background: $green; mix-blend-mode: color; }

          img { width: 82px; height: 39px; object-fit: cover; }
        }
        &:nth-child(3) img { width: 21px; height: 36px; margin: 0 .5rem; }
        &:nth-child(4) img { width: 18px; height: 15px; margin: 0 0 1.5rem .5rem; }
        &:nth-child(5) span::after { background: $fuchsia; }
        &:nth-child(8) {
          span { position: relative; width: 82px; height: 39px; margin-right: .5rem; flex: none;
            &::after { @include pseudo; left: 0; top: 0; width: 100%; height: 100%; background: $blue; mix-blend-mode: color; }

            img { width: 82px; height: 39px; object-fit: cover; }
          }
          img[alt=icon] { width: 146px; height: 27px; margin-left: .5rem; }
        }
        &:nth-child(10) img {
          &:first-child { width: 55px; height: 16px; margin-right: .5rem; }
          &:last-child { position: absolute; right: -11px; bottom: 2px; width: 114px; height: 7px; z-index: -1; }
        }
      }
      &-info { display: none; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 5.5rem;
      .about {
        &-info-mobile p { font-size: 2.375rem; line-height: 1.7; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .about {
        &-info-mobile { zoom: 1.16; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .about {
        &-info-mobile { display: none; }
        &-info { display: block;
          p { position: relative; font-size: 2.8125rem; line-height: 1.7; display: flex; align-items: center;
            &:nth-child(1) {
              img[alt=icon] { position: absolute; left: -11px; top: 0; width: 228px; height: 92px; z-index: -1; }
              span { position: relative; width: 64px; height: 64px; margin-left: 1rem; flex: none;
                &::after { @include pseudo; left: 0; top: 0; width: 100%; height: 100%; background: $green; mix-blend-mode: color; }
                &:hover { position: static;
                  &::after { background: transparent; }

                  img { position: absolute; right: -173px; top: -83px; width: 411px; height: 230px; transform: rotate(-15deg); z-index: -1; }
                }

                img { width: 64px; height: 64px; object-fit: cover; transition: all .3s ease-out; }
              }
            }
            &:nth-child(2) img {
              &:first-child { width: 49px; height: 83px; margin: 0 1rem; }
              &:last-child { width: 63px; height: 61px; margin-left: 1rem; }
            }
            &:nth-child(3) {
              img[alt=icon] { width: 60px; height: 49px; margin: 0 1rem; }
              span { position: relative; width: 64px; height: 64px; margin: 0 1rem; flex: none;
                &::after { @include pseudo; left: 0; top: 0; width: 100%; height: 100%; background: $fuchsia; mix-blend-mode: color; }
                &:hover { position: static;
                  &::after { background: transparent; }

                  img { position: absolute; right: 267px; top: -109px; width: 199px; height: 282px; transform: rotate(12.5deg); z-index: -1; }
                }

                img { width: 64px; height: 64px; object-fit: cover; transition: all .3s ease-out; }
              }
            }
            &:nth-child(5) {
              span { position: relative; width: 64px; height: 64px; margin: 0 1rem; flex: none;
                &::after { @include pseudo; left: 0; top: 0; width: 100%; height: 100%; background: $blue; mix-blend-mode: color; }
                &:hover { position: static;
                  &::after { background: transparent; }

                  img { position: absolute; left: 78px; top: -59px; width: 321px; height: 182px; transform: rotate(5.4deg); z-index: -1; }
                }

                img { width: 64px; height: 64px; object-fit: cover; transition: all .3s ease-out; }
              }
              img[alt=icon] { width: 263px; height: 50px; margin: 0 1rem; }
            }
            &:nth-child(6) img {
              &:first-child { width: 94px; height: 30px; margin: 0 1rem; }
              &:last-child { position: absolute; left: 318px; bottom: -10px; width: 404px; height: 30px; z-index: -1; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .about {
        &-info { zoom: 1.3; }
      }
    }
  }
}

#directions {
  .container { padding-bottom: 3.625rem;
    .directions { display: flex; flex-direction: column; align-items: center;
      &-bg { display: none; }

      &__title { margin-bottom: 1.125rem;
        h2, .h2 { text-align: center; }
      }
      &__desc { position: relative; margin-bottom: 3.375rem; font-size: 1.0625rem; line-height: 1.2; text-align: center; display: inline-flex; justify-content: center;
        svg { position: absolute; top: 4px; width: 16px; height: 16px; stroke: var(--main-color);
          &:first-child { left: -28px; }
          &:last-child { right: -28px; transform: rotate(180deg); }
        }
      }

      &-list { width: 100%;
        &__card { position: relative; height: 582px; box-shadow: $cardShadow; border-radius: 30px; padding: 1.6875rem 1.5625rem; overflow: hidden; cursor: pointer; transition: all .45s ease-out; @include z('card');
          &:nth-child(6n+1) { background: $cardBackground_digital; }
          &:nth-child(6n+2) { background: $cardBackground_web; }
          &:nth-child(6n+3) { background: $cardBackground_pr; }
          &:nth-child(6n+4) { background: $cardBackground_marketing; }
          &:nth-child(6n+5) { background: $cardBackground_production; }
          &:nth-child(6n+6) { background: $cardBackground_design; }
          &:not(:first-child) { margin-top: -483px; }
          &.open + .directions-list__card { margin-top: 0; }
        }
        &__title { margin-bottom: 1.5rem;
          h3, .h3 { color: $white; }
        }
        &__info { min-height: 136px; margin-bottom: 1.125rem;
          p { color: $white; font-size: 1.0625rem; line-height: 1.6; }
        }
        &__tags { position: relative; height: 206px; margin-top: 3.25rem;
          &-digital {
            .directions-list__tag {
              &:nth-child(1) { left: -25px; bottom: 162px; transform: rotate(-2.46deg); }
              &:nth-child(2) { left: 83px; bottom: 64px; transform: rotate(4.42deg); }
              &:nth-child(3) { left: 116px; bottom: 111px; transform: rotate(-2.74deg); }
              &:nth-child(4) { left: 168px; bottom: 157px; transform: rotate(7.41deg); }
              &:nth-child(5) { left: 15px; bottom: 66px; transform: rotate(-5.58deg); }
              &:nth-child(6) { left: -7px; bottom: 116px; transform: rotate(-11.87deg); }
              &:nth-child(7) { left: 145px; bottom: 18px; transform: rotate(-3.28deg); }
              &:nth-child(8) { left: 70px; bottom: -7px; }
              &:nth-child(9) { left: -31px; bottom: 24px; transform: rotate(-5.61deg); }
            }
            .directions-list__image { left: -80px; top: -12px; width: 483px; height: 471px;
              img { width: 483px; height: 471px; }
            }
          }
          &-web {
            .directions-list__tag {
              &:nth-child(1) { left: -10px; bottom: 100px; transform: rotate(-2.46deg); }
              &:nth-child(2) { left: 83px; bottom: 106px; transform: rotate(8.64deg); }
              &:nth-child(3) { left: -7px; bottom: 46px; transform: rotate(-4.45deg); }
              &:nth-child(4) { left: 156px; bottom: -2px; transform: rotate(8.64deg); }
            }
            .directions-list__image { left: -119px; top: -11px; width: 519px; height: 520px;
              img { width: 519px; height: 520px; }
            }
          }
          &-pr {
            .directions-list__tag {
              &:nth-child(1) { left: 0; bottom: 113px; transform: rotate(-9.75deg); }
              &:nth-child(2) { left: 111px; bottom: 75px; transform: rotate(8.64deg); }
              &:nth-child(3) { left: 90px; bottom: -5px; transform: rotate(2.98deg); }
              &:nth-child(4) { left: -13px; bottom: 35px; transform: rotate(-3.05deg); }
            }
            .directions-list__image { left: -102px; top: -100px; width: 538px; height: 485px;
              img { width: 538px; height: 485px; transform: rotate(22deg); }
            }
          }
          &-marketing {
            .directions-list__tag {
              &:nth-child(1) { left: 0; bottom: 158px; transform: rotate(-2.46deg); }
              &:nth-child(2) { left: 97px; bottom: 82px; transform: rotate(8.64deg); }
            }
            .directions-list__image { left: -42px; top: -10px; width: 377px; height: 266px;
              img { width: 377px; height: 266px; }
            }
          }
          &-production {
            .directions-list__tag {
              &:nth-child(1) { left: 57px; bottom: 114px; transform: rotate(3.81deg); }
              &:nth-child(2) { left: 171px; bottom: 72px; transform: rotate(-13.41deg); }
              &:nth-child(3) { left: -19px; bottom: 39px; transform: rotate(-3.05deg); }
              &:nth-child(4) { left: 99px; bottom: -4px; transform: rotate(2.98deg); }
            }
            .directions-list__image { left: -100px; top: -102px; width: 565px; height: 556px;
              img { width: 565px; height: 556px; }
            }
          }
          &-design {
            .directions-list__tag {
              &:nth-child(1) { left: 3px; bottom: 134px; transform: rotate(-4.45deg); }
              &:nth-child(2) { left: 52px; bottom: 82px; transform: rotate(-12.07deg); }
              &:nth-child(3) { left: 190px; bottom: 115px; transform: rotate(-8deg); }
              &:nth-child(4) { left: -4px; bottom: 22px; transform: rotate(-1.3deg); }
              &:nth-child(5) { left: 146px; bottom: 11px; transform: rotate(-6.03deg); }
              &:nth-child(6) { left: 147px; bottom: 39px; transform: rotate(8.64deg); }
            }
            .directions-list__image { left: -181px; top: 39px; width: 751px; height: 194px;
              img { width: 751px; height: 194px; }
            }
          }
        }
        &__tag { position: absolute; height: 2.375rem; box-shadow: $tagShadow; border-radius: 12px; padding: 0 1rem; background: $white; color: $black; line-height: 1.6; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }
        &__image { position: absolute; z-index: -1; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 7.5rem;
      .directions { position: relative;
        &-bg { display: block;
          &__image { position: absolute; right: -60px; bottom: -138px; transform: rotate(45deg); z-index: -1;
            img { width: 125px; height: 281px; }
          }
        }

        &__title { margin-bottom: 1.25rem; }
        &__desc { margin-bottom: 5.125rem;
          svg { top: 1px; width: 22px; height: 22px;
            &:first-child { left: -34px; }
            &:last-child { right: -34px; }
          }
        }

        &-list {
          &__card { height: 670px; border-radius: 40px; padding: 3.4375rem 4.375rem;
            &:not(:first-child) { margin-top: -520px; }
          }
          &__title { margin-bottom: 1.75rem; }
          &__info { width: 520px; margin-bottom: 1.25rem;
            p { font-size: 1.375rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .directions {
        &-bg {
          &__image { right: -99px; bottom: -202px;
            img { width: 166px; height: 427px; }
          }
        }

        &-list {
          &__card { height: 560px;
            &:not(:first-child) { margin-top: -410px; }
            &:hover:not(.open) + .directions-list__card { margin-top: -370px; }
          }
          &__info { margin: 0; }
          &__button { position: absolute; top: 63px; right: 70px; }
          &__tags {
            &-digital {
              .directions-list__tag {
                &:nth-child(1) { left: 47px; bottom: 110px; }
                &:nth-child(2) { left: 130px; bottom: 21px; }
                &:nth-child(3) { left: 293px; bottom: 57px; }
                &:nth-child(4) { left: 261px; bottom: 98px; }
                &:nth-child(5) { left: 200px; bottom: 62px; transform: rotate(2.86deg); }
                &:nth-child(6) { left: -7px; bottom: 41px; }
                &:nth-child(7) { left: 269px; bottom: -38px; }
                &:nth-child(8) { left: 190px; bottom: -17px; }
                &:nth-child(9) { left: -18px; bottom: -30px; }
              }
              .directions-list__image { left: -4px; top: 0; }
            }
            &-web {
              .directions-list__tag {
                &:nth-child(1) { left: 149px; bottom: 102px; transform: rotate(-8.94deg); }
                &:nth-child(2) { left: 1px; bottom: 16px; transform: rotate(3.11deg); }
                &:nth-child(3) { left: 321px; bottom: 19px; transform: rotate(-5.22deg); }
                &:nth-child(4) { left: 287px; bottom: 82px; transform: rotate(6.38deg); }
              }
              .directions-list__image { left: -53px; top: -27px; width: 640px; height: 641px;
                img { width: 640px; height: 641px; }
              }
            }
            &-pr {
              .directions-list__tag {
                &:nth-child(1) { left: 296px; bottom: 53px; transform: rotate(5.7deg); }
                &:nth-child(2) { left: 41px; bottom: 70px; transform: rotate(-8.94deg); }
                &:nth-child(3) { left: 94px; bottom: -5px; transform: rotate(-2.78deg); }
                &:nth-child(4) { left: 423px; bottom: 1px; transform: rotate(-5.22deg); }
              }
              .directions-list__image { left: -41px; top: -24px; width: 732px; height: 452px;
                img { width: 732px; height: 452px; transform: rotate(0deg); }
              }
            }
            &-marketing {
              .directions-list__tag {
                &:nth-child(1) { left: 20px; bottom: 118px; }
                &:nth-child(2) { left: 305px; bottom: 56px; }
              }
              .directions-list__image { left: 54px; top: 5px; width: 454px; height: 320px;
                img { width: 454px; height: 320px; }
              }
            }
            &-production {
              .directions-list__tag {
                &:nth-child(1) { left: 410px; bottom: 21px; transform: rotate(8.55deg); }
                &:nth-child(2) { left: 337px; bottom: 84px; transform: rotate(3.11deg); }
                &:nth-child(3) { left: 39px; bottom: 37px; transform: rotate(-2.46deg); }
                &:nth-child(4) { left: 137px; bottom: 110px; transform: rotate(-5.22deg); }
              }
              .directions-list__image { left: 20px; top: -179px; width: 785px; height: 773px;
                img { width: 785px; height: 773px; }
              }
            }
            &-design {
              .directions-list__tag {
                &:nth-child(1) { left: 122px; bottom: 62px; transform: rotate(3.11deg); }
                &:nth-child(2) { left: 0; bottom: 112px; transform: rotate(-8.94deg); }
                &:nth-child(3) { left: 428px; bottom: 57px; transform: rotate(6.24deg); }
                &:nth-child(4) { left: 506px; bottom: 108px; transform: rotate(-5.22deg); }
                &:nth-child(5) { left: 195px; bottom: 133px; transform: rotate(-2.46deg); }
                &:nth-child(6) { left: 234px; bottom: 64px; transform: rotate(-5.22deg); }
              }
              .directions-list__image { left: -37px; top: 38px; }
            }
          }
          &__tag { height: 2.5rem; font-size: 1.125rem; }
        }
      }
    }
  }
}

#cases {
  .container { padding-bottom: 3.625rem;
    .cases {
      &-bg { display: none; }

      &__title { margin-bottom: .875rem;
        h2, .h2 { text-align: center; }
      }

      &-filter { margin-bottom: 2.75rem;
        &__link a { color: var(--main-color); font-size: 1.0625rem; line-height: 1.2; display: flex; justify-content: center; align-items: center;
          img { width: 12px; height: 8px; margin-left: .5rem; flex: none; }
        }

        &-list { border-radius: 30px; margin-top: 1.75rem; padding: 1.25rem; background: $filterBackground; display: none; flex-wrap: wrap; justify-content: center;
          &.open { display: flex; }

          &__item { margin: .625rem;
            &.active a { color: $linkColor;
              &::before { @include pseudo; left: 50%; bottom: -12px; width: 67px; height: 10px; background: transparent url('/image/icon/underline.svg') center no-repeat; transform: translate(-50%, 0); }
            }

            a { position: relative; color: var(--main-color); font-size: .875rem; line-height: 1.2; }
          }
          &__reset { width: 100%; margin-top: .625rem; display: flex; justify-content: center;
            a { color: $darkGrey; font-size: .875rem; line-height: 1.2; display: flex; align-items: center;
              svg { width: 9px; height: 9px; margin-right: .5rem; fill: $darkGrey; flex: none; }
            }
          }
        }
      }

      &-swiper { position: relative; width: 100%; }

      &-slider {
        &__item.new .cases-slider__image a { background: $caseImageGradient; }
        &__image { display: flex; justify-content: center;
          a { position: relative; width: 300px; height: 300px; border-radius: 50%; padding: 6px; background: transparent; overflow: hidden; display: flex; justify-content: center; align-items: center;
            &::before { @include pseudo; left: 3px; top: 3px; width: calc(100% - 6px); height: calc(100% - 6px); border-radius: 50%; background: var(--background-color); }

            div { width: 282px; height: 282px; border-radius: 50%; overflow: hidden; flex: none;
              img { width: 282px; height: 282px; border-radius: 50%; overflow: hidden; }
            }
            span { display: none; }
          }
        }
        &__title { margin-top: 1.875rem;
          a { color: var(--main-color);
            h4, .h4 { text-align: center; }
          }
        }
        &__tags { margin-top: .625rem; display: flex; flex-wrap: wrap; justify-content: center;
          a { margin-top: .3125rem; color: $darkGrey; white-space: nowrap; pointer-events: none;
            &:not(:last-child) { margin-right: .625rem; }
          }
        }
        &__link { display: flex; justify-content: center;
          a { position: relative; width: 300px; height: 300px; border-radius: 50%; background: $caseImageGradient; overflow: hidden;
            &::before { @include pseudo; left: 3px; top: 3px; width: calc(100% - 6px); height: calc(100% - 6px); border-radius: 50%; background: var(--background-color); }

            span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 50%; background: transparent url('/image/bg/hover.svg') center no-repeat; background-size: cover; color: $white; font-family: 'Dela Gothic One'; text-align: center; display: flex; justify-content: center; align-items: center; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 7.5rem;
      .cases { position: relative;
        &-bg { display: block;
          &__image { position: absolute; left: -160px; bottom: -234px; z-index: -1;
            img { width: 280px; height: 280px; }
          }
        }

        &-filter {
          &-list { border-radius: none; margin-top: 1.75rem; padding: 0; background: transparent;
            &__item a:hover,
            &__reset a:hover { color: $linkColor_hover;
              svg { fill: $linkColor_hover; }
            }
          }
        }

        &-slider {
          &__image a { position: relative; width: 340px; height: 340px;
            &:hover {
              img { transform: scale(1.05); }
              span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 50%; background: transparent url('/image/bg/hover.svg') center no-repeat; background-size: cover; color: $white; font-family: 'Dela Gothic One'; display: flex; justify-content: center; align-items: center; }
            }

            div { width: 322px; height: 322px;
              img { width: 322px; height: 322px; transition: all .3s ease-out; }
            }
          }
          &__title { margin: 1.875rem 1rem 0;
            a:hover { color: $linkColor_hover; }
          }
          &__tags { margin: .625rem 1rem 0; }
          &__link a { width: 340px; height: 340px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .cases {
        &-bg {
          &__image { left: -280px; bottom: -364px;
            img { width: 386px; height: 386px; }
          }
        }

        &__title { margin-bottom: 3.125rem; }

        &-filter {
          &__link { display: none; }

          &-list { display: flex;
            &__item { margin: .625rem 1.25rem;
              a { font-size: 1.125rem; }
            }
            &__reset { margin-top: 1.25rem;
              a { font-size: 1.125rem;
                svg { width: 10px; height: 10px; margin-right: .625rem; }
              }
            }
          }
        }

        &-slider { margin: 0 -18rem;
          &__image a { width: 484px; height: 484px; padding: 9px;
            div { width: 460px; height: 460px;
              img { width: 460px; height: 460px; }
            }
          }
          &__title { margin: 1.875rem 2rem 0; }
          &__tags { margin: .625rem 2rem 0; }
          &__link a { width: 484px; height: 484px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .cases {
        &-slider { margin: 0; }
      }
    }
  }
}

#clients {
  .container { padding-bottom: 3.25rem;
    .clients {
      &__title { margin-bottom: 1.125rem;
        h2, .h2 { text-align: center; }
      }

      &-list { display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
        &__logo { width: 50%; display: flex; justify-content: center;
          a { flex: none; transition: all .3s ease-out;
            img { width: 132px; height: 60px;
              &:last-child { display: none; }
            }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 7.5rem;
      .clients {
        &__title { margin-bottom: 4.625rem; }

        &-list {
          &__logo { width: calc(100% / 3);
            a img { width: 220px; height: 100px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .clients { position: relative;
        &-list {
          &__logo { width: calc(100% / 4);
            &:nth-child(1) a:hover::before { left: 19px; top: -40px; background: rgba(255, 53, 124, .6); }
            &:nth-child(3) a:hover::before { top: -63px; right: 171px; background: rgba(135, 109, 255, .6); }
            &:nth-child(8) a:hover::before { top: 178px; right: 19px; background: rgba(255, 0, 89, .6); }
            &:nth-child(9) a:hover::before { left: 106px; top: 128px; background: rgba(255, 142, 232, .6); }
            &:nth-child(10) a:hover::before { left: 352px; top: 102px; background: rgba(11, 174, 149, .6); }

            a::before { @include pseudo; width: 337px; height: 337px; filter: blur(200px); }
          }
        }
      }
    }
  }
}

#team { display: none;
  .container { padding-bottom: 3.25rem;
    .team {
      &__title { margin-bottom: 1.125rem;
        h2, .h2 { text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.5rem 1.5rem 7.5rem;
      .team {
        &__title {}
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .team {}
    }
  }
}
